@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('fonts/NeuzeitGro-Bol.eot');
    src: local('Neuzeit Grotesk Bold'), local('NeuzeitGro-Bol'),
    url('fonts/NeuzeitGro-Bol.eot?#iefix') format('embedded-opentype'),
    url('fonts/NeuzeitGro-Bol.woff2') format('woff2'),
    url('fonts/NeuzeitGro-Bol.woff') format('woff'),
    url('fonts/NeuzeitGro-Bol.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-Regular.woff2') format('woff2'),
    url('fonts/OpenSans-Regular.woff') format('woff'),
    url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main: #ffffff;
    --text: #261f0f;
    --accent:#00adff;
    --height: 82px;
    --width: 267px;
    --half: calc(var(--height) / 2);
}

body {
    margin: 0;
}

.wrapper {
    width: var(--width);
    height: var(--height);
    background: var(--main);
}

.logo {
    font-family: 'Neuzeit Grotesk';
    font-size: 26px;
    letter-spacing: 2.3px;
    width: 100%;
    height: 100%;
    display: flex;
    background: url('img/f3df898.svg') center/contain no-repeat;
}

.logo_icon {
    width: var(--height);
}

.logo_icon_circle_1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /*overflow: hidden;*/
}

.logo_icon_circle_1:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-color: transparent var(--main) transparent transparent;
    border-width: calc(var(--half) * .6) var(--half) calc(var(--half) * .6) 0;
    border-style: solid;
    position: absolute;
    z-index: 8;
    right: 0;
}

.logo_icon_circle_2 {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background: var(--main);
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.logo_icon_circle_2:before {
    width: 0;
    height: 0;
    border-color: transparent var(--accent) transparent transparent;
    border-width: calc(var(--half) * .6) var(--half) calc(var(--half) * .6) 0;
    border-style: solid;
    position: absolute;
    right: -33%;
    display: block;
    content: '';
}

.logo_text {
    color: var(--text);
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: baseline;
    width: calc(100% - var(--height));
    text-align: right;
}

.logo_text_title {
    width: 100%;
    font-size: 26px;
    letter-spacing: 2.3px;
    left: 5px;
    position: relative;
    top: 12px;
}

.logo_text_desc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: -1px;
    position: relative;
    left: 10px;
}

.logo_text_desc > * {
    width: 50%;
}

.logo_text_desc_small {
    font-size: 9px;
    font-family: 'Open Sans';
    text-align: left;
    padding: 3px;
    letter-spacing: 0px;
    line-height: 1.2;
}

.logo_text_desc_accent {
    color: var(--accent);
}