@font-face {
    font-family: 'Evolventa Bold';
    src: url('fonts/Evolventa-Bold.eot');
    src: local('Evolventa Bold'), local('Evolventa-Bold'),
    url('fonts/Evolventa-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Evolventa-Bold.woff') format('woff'),
    url('fonts/Evolventa-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-Regular.woff2') format('woff2'),
    url('fonts/OpenSans-Regular.woff') format('woff'),
    url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main: #ffffff;
    --text: #261f0f;
    --accent:#00adff;
    --height: 82px;
    --width: 267px;
    --half: calc(var(--height) / 2);
    --font-size: 24px;
}

body {
    margin: 0;
}

.wrapper {
    width: var(--width);
    height: var(--height);
    background: var(--main);
}

.logo {
    font-family: 'Evolventa Bold';
    font-size: var(--font-size);
    letter-spacing: .085em;
    width: 100%;
    height: 100%;
    display: flex;
    /*background: url(img/f3df898.svg) center/contain no-repeat; !*Использовал для отладки *!*/
    align-items: center;
    color: var(--text);
    overflow: hidden;
}
/* Использовал для отладки */
/*.logo > div {*/
/*    filter: hue-rotate(180deg);*/
/*    opacity: .7;*/
/*}*/

.logo_icon {
    width: var(--height);
    height: var(--height);
}

.logo_icon_circle_1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo_icon_circle_1:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-color: transparent var(--main) transparent transparent;
    border-width: calc(var(--half) * .6) var(--half) calc(var(--half) * .6) 0;
    border-style: solid;
    position: absolute;
    z-index: 8;
    right: 0;
}

.logo_icon_circle_2 {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background: var(--main);
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.logo_icon_circle_2:before {
    width: 0;
    height: 0;
    border-color: transparent var(--accent) transparent transparent;
    border-width: calc(var(--half) * .6) var(--half) calc(var(--half) * .6) 0;
    border-style: solid;
    position: absolute;
    right: -33%;
    display: block;
    content: '';
}

.logo_text {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: baseline;
    width: calc(100% - var(--height));
    height: var(--half);
    line-height: calc(var(--half) / 2);
    white-space: nowrap;
}

.logo_text > div {
    padding-left: .4em;
    font-size: 1.01em;
}

.logo_text_title {
    width: 100%;
    margin-top: -.1em;
    margin-right: -.2em;
}

.logo_text_desc {
    margin-top: .3em;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo_text_desc > * {
    width: 50%;
}

.logo_text_desc_small {
    font-size: .38em;
    font-family: 'Open Sans';
    text-align: left;
    letter-spacing: -.01em;
    line-height: 1.25;
    padding-left: 1em;
    margin-top: -.3em;
}

.logo_text_desc_accent {
    color: var(--accent);
}

/* хак для IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .wrapper {
        width: 267px;
        height: 82px;
        background: #ffffff;
    }

    .logo {
        font-size: 24px;
        color: #261f0f;
    }

    .logo_icon {
        width: 82px;
        height: 82px;
    }

    .logo_icon_circle_1 {
        background: #261f0f;
    }

    .logo_icon_circle_1:before {
        border-color: transparent #ffffff transparent transparent;
        border-width: calc(41px * .6) 41px calc(41px * .6) 0 !important;
        top: 16.5px;
    }

    .logo_icon_circle_2 {
        background: #ffffff;
    }

    .logo_icon_circle_2:before {
        border-color: transparent #00ADFF transparent transparent;
        border-width: calc(41px * .6) 41px calc(41px * .6) 0 !important;
    }

    .logo_text {
        width: calc(100% - 82px);
        height: 41px;
        line-height: calc(41px / 2);
    }

    .logo_text_title {
        margin-top: .1em;
    }

    .logo_text_desc_accent {
        color: #00ADFF;
    }

    .logo_text_desc_small {
        letter-spacing: -0.03em;
        line-height: 1.25;
        padding-left: 1.7em;
        margin-top: -.85em;
    }
}